.modal_body {
  width: 100%;
  height: 100%;
  max-height: 700px;
  min-height: 700px;
  display: flex;
  flex-direction: row;
  background-color: #1e1e1e;
  overflow: hidden;
  .language_select_body {
    width: 118px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252527;
    .language_list_body {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .language_list {
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
      }
      .language_list:hover {
        background-color: #1e1e1e;
      }
    }
  }
  .language_template_body {
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #252527;
    overflow: hidden;
    .template_select_body {
      width: 100%;
      height: auto;
      overflow-x: hidden;
      overflow-y: auto;
      .template_select_item {
        width: 100%;
        height: 102px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 23px 0 23px 25px;
        .item_name {
          width: 100%;
          font-size: 16px;
          font-weight: 500;
          color: #ffffff;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .item_desc {
          width: 100%;
          font-size: 12px;
          font-weight: 400;
          color: #d8d8d8;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .template_select_item:hover {
        background-color: #1e1e1e;
      }
    }
    .template_select_body::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }
    .template_select_body::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: black;
    }
    .template_select_body::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #b5b1b1;
    }
  }
  .language_content_body {
    flex: 1;
    padding: 0 10px 0 48px;
    display: flex;
    flex-direction: column;
  }
  .language_content_div {
    width: 100%;
    height: 100%;

    .language_content_folder {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .folder_title {
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
      }
      .folder_content {
        width: 100%;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        .folder_input {
          width: 100%;
          max-width: 300px;
          box-sizing: border-box;
          padding-left: 7px;
          height: 40px;
          margin-right: 15px;
          background: #3c3f41;
          border-radius: 2px;
          border: 1px solid #5e5d61;
          font-size: 12px;
          font-weight: 400;
          color: #999999;
          line-height: 40px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .folder_button {
          width: 169px;
          height: 40px;
        }
      }
    }
    .language_content_select {
      width: 100%;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      .select_title {
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
      }
      .select_content {
        width: 100%;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        .content_input {
          max-width: 300px;
          height: 40px;
          margin-right: 15px;
          font-size: 16px;
        }
        .content_button {
          width: 169px;
          height: 40px;
        }
      }
    }
    .language_content_describe {
      padding-top: 55px;
      .content_describe_title {
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
      }
      .content_describe_value {
        margin-top: 16px;
        font-size: 12px;
        font-weight: 400;
        color: #d8d8d8;
      }
    }
    .language_content_source {
      padding-top: 48px;
      .content_source_title {
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
      }
      .content_source_image {
        width: 200px;
        height: 200px;
      }
    }
  }
}
