.item {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  height: 40px;
  border-bottom: 1px solid #2a2e39;
  .left {
    display: flex;
    align-items: center;
    width: 144px;
    .icon {
      margin-right: 0.5rem;
      height: 18px;
      width: 18px;
      border-radius: 50%;
    }
    .name {
      font-size: 16px;
      color: #b2b5be;
    }
  }
  .right {
    display: flex;
    justify-content: space-between;
    flex: 1;
    .symbol_description {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #b2b5be;
    }
    .exchange_cell {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &:hover {
    background-color: #2a2e39;
  }
}
