.component_modal {
  :global(.ant-modal-close-icon > svg) {
    fill: #ffffff;
  }
  :global(.ant-modal-content) {
    height: 680px;
    background: #1e1e1e;
  }
  :global(.ant-modal-header) {
    background: #1e1e1e;
    border-bottom: none;
    :global(.ant-modal-title) {
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
    }
  }
  :global(.ant-modal-body) {
    padding: 0;
    background: #1e1e1e;
  }
}
