.container {
  padding: 0 1.25rem;
  position: relative;
  .occlusion {
    position: absolute;
    background-color: #24272d;
    width: 100%;
    height: 100%;
    z-index: 11;
  }
  .card_container {
    margin-bottom: 2.5rem;
    background-color: #131722;
    border-radius: 10px;
    .card_header {
      display: flex;
      align-items: center;
      font-weight: bold;
      padding: 10px 15px;
      min-height: 44px;
      color: white;
      background-color: #0000001a;
      border-radius: 6px 6px 0 0;
      font-size: 18px;
      border-bottom: 1px solid #ffffff0d;
    }
    .card_body {
      padding-bottom: 2rem;
      .card_list {
        display: flex;
        flex-wrap: wrap;
        .card_item {
          flex: 0 0 16.666667%;
          padding: 0.3125rem;
          max-width: 16.666667%;
          border-bottom: 1px solid #ffffff0d;
          border-right: 1px solid #ffffff0d;
          .item {
            padding: 0.9375rem 0.3125rem;
            text-align: center;
            .value {
              height: 1.5625rem;
              color: white;
              font-size: 0.875rem;
            }
            .label {
              color: #ffffff80;
              font-size: 0.8125rem;
            }
          }
        }
      }
      .split_line {
        border-bottom: 1px solid #28292d !important;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
        padding: 0.9375rem;
        .row_item {
          flex: 0 0 33.333333%;
          padding-right: 5px;
          padding-left: 5px;
          max-width: 33.333333%;
          .content {
            padding: 0.9375rem;
            background-color: #69eee9;
            border-radius: 10px;
            .title {
              margin-bottom: 5px;
              font-size: 0.875rem;
              color: #000;
              font-weight: 600;
            }
          }
        }
      }
      :global(.ant-table) {
        color: #ffffffcc;
        background-color: transparent;
        :global(.ant-table-thead > tr > th) {
          color: #ffffffcc;
          background-color: transparent;
          border-bottom: none;
        }
        :global(.ant-table-tbody > tr > td) {
          border-bottom: none;
        }
        :global(.ant-table-tbody > tr.ant-table-placeholder:hover > td) {
          background-color: transparent;
        }
        :global(.ant-empty-description) {
          color: #ffffff4d;
        }
        :global(.ant-empty-img-simple-path) {
          fill: #262626;
          stroke: #434343;
        }
        :global(.ant-empty-img-simple-ellipse) {
          fill: #fff;
          fill-opacity: 0.08;
        }
        :global(.ant-empty-img-simple-g) {
          stroke: #434343;
        }
        :global(.ant-table-tbody > tr.ant-table-row:hover > td) {
          background-color: transparent;
        }
      }
      .statistics {
        border-radius: 2px;
        border: 1px solid #464648;
        .statistics_header {
          height: 50px;
          border-bottom: 1px solid #464648;
          .header_list {
            display: flex;
            height: 100%;
            .header_item {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 126px;
              height: 100%;
              border-radius: 2px;
              cursor: pointer;
              p {
                font-size: 16px;
                font-weight: 500;
                color: #fff;
              }
            }
            .select_item {
              background: #3c3f41;
            }
          }
        }
        .date_list {
          padding: 0 24px;
          .date_item {
            display: flex;
            height: 48px;
            border-bottom: 1px solid #464648;
            .text {
              width: 20%;
              line-height: 48px;
            }
          }
          & > :last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
  .chart {
    padding: 0.9375rem;
    height: 400px;
  }
}

:global(.ant-spin-nested-loading > div > .ant-spin .ant-spin-text) {
  text-shadow: none;
}
