@import "~antd/dist/antd.css";

p,
ul,
ol,
li,
dl,
dt,
dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mo-panel__container {
  overflow-y: auto;
}
.mo-panel__container::-webkit-scrollbar {
  display: none;
}

.mo-editor__group-container {
  overflow-y: auto;
}
.mo-editor__group-container::-webkit-scrollbar {
  display: none;
}
.mo-panel__container {
  margin-bottom: 24px;
}

.file_Tree_bar {
  width: 367px;
  .mo-sidebar {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: black;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #b5b1b1;
    }
  }
}

.mo-folderTree {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mo-tree__treenode {
    margin-top: 1px;
    width: 100%;
  }
  .mo-tree__treenode {
    width: calc(100% - 2px);
  }
}
