@import "~antd/dist/antd.css";

p,
ul,
ol,
li,
dl,
dt,
dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mo-panel__container {
  overflow-y: auto;
}
.mo-panel__container::-webkit-scrollbar {
  display: none;
}

.mo-editor__group-container {
  overflow-y: auto;
}
.mo-editor__group-container::-webkit-scrollbar {
  display: none;
}

.mo-folderTree {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mo-tree__treenode {
    margin-top: 1px;
    width: 100%;
  }
  .mo-tree__treenode {
    width: calc(100% - 2px);
  }
}
