@import "~antd/dist/antd.css";

p,
ul,
ol,
li,
dl,
dt,
dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mo-panel__container {
  overflow-y: auto;
}

.mo-panel__container::-webkit-scrollbar {
  display: none;
}
