.commonly_used{
 @apply w-full h-full;
    .title {
        @apply text-white font-semibold;
        font-size: 18px;
        line-height: 25px;
    }
    &_body {
        @apply mt-6;
        color: #D8D8D8;
        .item {
            @apply mb-6;
            &_label {
                @apply mb-2 font-semibold;
                font-size: 14px;
                line-height: 20px;
            }
            &_introduce {
                @apply mb-2 font-normal;
                font-size: 12px;
                line-height: 17px;
            }
            .blue_text {
                color: #0471D9;
            }
            .select {
                width: 404px;
                height: 25px;
                background: #3C3F41;
                border-radius: 2px;
                border: 1px solid #5E5D61;
            }
            &_flex_introduce {
                @apply flex;
                p {
                    @apply ml-2;
                }
            }
        }
    }
}